* {
padding: 0px;
margin: 0px;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

.cf input#search{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: sans-serif;
	line-height:1.25em;
}

.sigma-parent {
	position: relative;
	height: 100%;
}

.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #202020;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

canvas#sigma_bg_1 {
	display: none;
}

#attributepane {
   	display: block;	
	display: none;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    right:0;
	width: 240px;
	background-color: #fff;
	margin: 0;
	word-wrap: break-word;
	background-color:rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.2);
	padding: 0px 18px 0px 18px;	
	z-index: 1;
}


#attributepane .text {
	height:100%;
}

#attributepane .headertext {
	color: #000;
	margin-bottom: 5px;
	height: 14px;
	border-bottom: 1px solid #999;
	padding: 0px 0 10px 0;
	font-size:16px;
	font-weight:bold;
}


#attributepane .returntext em {
	background-repeat: no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	background-position: -91px -13px;
	float: left;
}

#attributepane .returntext span {
	padding-left: 5px;
	display: block;
}

#attributepane .close {
	padding-left: 14px;
	margin-top: 10px;
}

#attributepane .close .c {
	border-top: 2px solid #999;
	padding: 10px 0 14px 0;
}

#attributepane .close em {
background-repeat: no-repeat;
background-position: -11px -13px;
display: block;
width: 24px;
height: 16px;
float: left;
}

#attributepane .close span {
display: block;
width: 151px;
float: left;
}

#attributepane .nodeattributes {
	display:block;
	height:95%;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom:1px solid #999;
}

#attributepane .name {
font-size: 16px;
cursor: default;
color: #FFF;
padding-bottom: 10px;
padding-top: 18px;
font-weight:bold;
}

#attributepane .data {

}

#attributepane .data .plus {
background-repeat: no-repeat;
background-position: -171px -122px;
width: 22px;
height: 20px;
float: left;
display: block;
}

#attributepane .link {
padding: 0 0 0 4px;
}

#attributepane .link li {
padding-top: 2px;
cursor:pointer;
}

#attributepane .p {
padding-top: 10px;
font-weight: bold;
font-size:14px;
}

.left-close {
margin-left:-37px;
z-index:99999;
cursor: pointer;
padding-left:31px;
line-height:36px;
background-repeat: no-repeat;
font-size:10px;

}

#developercontainer {
	margin-left:10px;
	margin-bottom:10px;
	position:fixed;
	bottom:0;
	color: rgba(255,255,255,0.5);
}


#maintitle {
width: 100%;
height: 72px;
background-repeat: no-repeat;
margin-bottom:20px;
}

#maintitle h1 {
display: none;
}

#mainpanel {
border-radius: 5px;
margin-top: 25px;
margin-left: 25px;
background:#fff;
background-color:rgba(255,255,255,0.2);
/*border:1px solid #ccc;*/
z-index:20;
position:fixed;
top:0;
}

#mainpanel .b1 {
padding: 0px 0 0 0;
}

#mainpanel .col {

width: 240px;
padding: 18px 18px 18px 18px;
margin: 0;

}

#title {
font-weight: bold;
}

#titletext {
padding: 6px 0 10px 0;
}

#info {
	padding-bottom:15px;
}


#search {
	padding: 10px 0 0px 2px;
	color: #FFF;
}

#search input[name=search] {
border: 1px solid rgba(255,255,255,0.2);
background-color: rgba(255,255,255,0.1);
padding: 5px 7px 4px 7px;
width: 205px;
color: #FFF;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}

#search input.empty {
color: #FFF;
}

#search .state {
opacity:0.5;
width: 14px;
height: 14px;
border-radius:5px;
float: right;
margin-top: 6px;
cursor: pointer;
background-position: -131px -13px;
}

#search .state.searching {
background-position: -11px -13px;
}

#search .results {
	display: none;
/*	border: 1px solid #999;*/
	margin: 6px;
	color: #FFF;
	height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
}

#search .results b {
padding-left: 2px;
}

#search .results a {
padding: 1px 2px;
display: block;
cursor: pointer;
text-decoration: none;
color: #FFF;
}

#search .results a:hover {
background-color: #999;
color: #fff;
}

#attributeselect {
margin: 20px 0 13px 0 ;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#attributeselect .select {
	border: 1px solid rgba(255,255,255,0.2);
	padding: 5px 7px 4px 7px;
	color: #fff;
	cursor: pointer;
	background-color: rgba(255,255,255,0.1);
	background-repeat: no-repeat;
	background-position: 200px -144px;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#attributeselect .close {
background-position: 200px -8px;
}

#attributeselect .list {
	display: none;
	border: 1px solid rgba(255,255,255,0.1);
	padding: 6px;
	height: 150px;
	width: 226px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba(255,255,255,0.3);
	/*position: relative;
		left: 240px;
		bottom: 164px;*/
	position:absolute;
/*	margin-left: 240px;
	margin-top:-164px;*/
	color: white;
/*	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}	

#attributeselect .list a {
display:block;
padding: 2px;
text-decoration: none;
color: #fff;
}

#attributeselect .list a:hover {
background-color: #fff;
color: #000;
}

.link h2 {
font-size: 1em;
padding-top: 1em;
}

#mainpanel dl {
	padding-bottom:10px;
}

#mainpanel h2 {
	font-size:14px;
}

#mainpanel dt {
width: 20px;
height: 20px;
float: left;
background-repeat: no-repeat;
}

#legend dl {
}

#mainpanel h2 {
	padding-bottom:10px;
}

#legend dd {
margin-bottom: 8px;
color: #000;
}

#mainpanel .infos dd {
margin-bottom: 12px;
}

#mainpanel .node {
background-position: -11px -119px;
}

#mainpanel .edge {
background-position: -51px -122px;
}

#mainpanel .colours {

background-image:url('../images/rainbow.png');

}
#legend .note {
margin-bottom: 8px;

}

#mainpanel .regions {
background-position: -171px -13px;
}

#mainpanel .download {
background-position: -51px -13px;
}

#mainpanel .moreinformation {
background: url('../images/info.png');
background-repeat: no-repeat;
margin-left: 5px;
}

#zoom {
	z-index:999;
	position: fixed;
	left: 45%;
	bottom: 25px;
	margin:0 auto;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align:left;
}

#zoom .z {
	background:#fff;
	background-color:rgba(255,255,255,0.7);
	width: 60px;
	height: 60px;
	cursor: pointer;
	border:1px solid #ccc;
	float:left;
	margin-right:4px;
	background-repeat:no-repeat;
}

#zoom .z[rel=center] {
	background-image: url('../images/zoom_reset.png');
	background-position:center;
}

#zoom .z[rel=in] {
	background-image: url('../images/zoom_in.png');
	background-position:center; 
}

#zoom .z[rel=out] {
	background-image: url('../images/zoom_out.png');
	background-position:center; 
}

.line {
	font-size: 12px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

#information {
display: none;
background: #fff;
padding: 1px 10px 10px 10px;
}

#information h3 {
margin: 14px 0 4px 0;
}

#information p {
margin: 0 0 4px 0;
}

#information .button {
width: 14px;
height: 14px;
border-radius: 5px;
border: 1px solid #999;
display: inline-block;
*display: inline;
*zoom: 1;
}

#information .button span {
display: none;
}

#information .button.plus {
background-position: -91px -122px; 
}

#information .button.moins {
background-position: -131px -122px;
}

#minify {
background-color: #fff;
padding: 4px 4px 4px 25px;
cursor: pointer;
background-repeat: no-repeat;
background-position: -167px -118px;
position: absolute;
top: 65px;
left: 15px;
display: none;
}

#minifier {
position: absolute;
width: 20px;
height: 16px;
background-repeat: no-repeat;
background-position: -45px -147px;
cursor: pointer;
display: none;

}
